.wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.cameraStyle{
    width: 100vw;
    height: 200px;

}
.canvas{
    height: auto;
    width: 100vw;
    display: none;
}
.canvasCroppedWrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    width: 100vw;
    height: 100vw;
}
.canvasCropped{
    flex-shrink: 0;
    /*width: 150px;*/

}
.cameraWrapper{
    position: relative;
    display: flex;
    justify-content: center;
    width: 100vw;
    height: 100vw;
}
.imageWrapper{
    display: none;
}
.areaWrapper{
    z-index: 2;
    position: absolute;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}
.area{
    border: 3px solid green;
    width: 50vw;
    height: 50vw;

}
@media (min-width: 400px){
    .wrapper{
    }
    .cameraStyle{
    }
    .canvas{
    }
}
